* {
    margin: 0;    /*  eliminar todo el espacio exterior*/
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #0f172a;
    --secondary: #020617;
    --accent: #facc15;
    --text: #ffffff;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: var(--primary);
    color: var(--text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: var(--secondary);
}

.menu {
    display: none;
    font-size: 25px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: #38bdf8;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: var(--accent);
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("https://picsum.photos/1200/600") center/cover;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    background: var(--accent);
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

section {
    padding: 50px 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #334155;
    padding: 12px;
    text-align: center;
}

.zones {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: var(--secondary);
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .menu {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background: #020617;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
    }

    nav ul.active {
        display: flex;
    }

    .zones {
        flex-direction: column;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
}
